#content{
    position:absolute right;
    align-self: flex-end;
    text-justify:auto;
    text-align: center;
    width: 1200px;
    height: 500px;
    margin: 20px;
    border: 2px solid black;
    background-color: #1a9e1a;
}