<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taller 4</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<body>
  <h2>Taller 4: Practica de estilos en Angular --  PART 1</h2>
  <p id="parrafo1">Angular es un framework de desarrollo web de código abierto, creado por Google, que permite construir aplicaciones de una sola página (SPA) de forma dinámica y estructurada. Utiliza TypeScript como lenguaje principal y ofrece un conjunto de herramientas y librerías que facilitan la creación de interfaces interactivas, manejo de datos, navegación y comunicación con servicios externos, promoviendo el desarrollo escalable y mantenible.</p>
  <p id="parrafo2">Algunos proyectos populares que utilizan Angular son aplicaciones ampliamente conocidas como Gmail y Google Cloud Console, que aprovechan su capacidad para manejar gran cantidad de datos en tiempo real; Microsoft Office Online, que integra herramientas de productividad directamente en el navegador; Forbes, cuyo portal web emplea Angular para ofrecer contenido dinámico y rápido; y Santander Banking, que lo usa en su plataforma digital para brindar una experiencia segura e interactiva a los usuarios. Estos ejemplos muestran cómo Angular se aplica en sectores tan diversos como el correo electrónico, la nube, los medios de comunicación y la banca.</p>
  <hr>
  <ul>Ejemplos de proyectos hechos con Angular
    <li><a href="https://www.forbes.com/sites/forbes-engineering/2023/11/17/upgrading-bertie-to-angular-16-a-leap-forward-for-forbes/">Plataforma editorial de Forbes</a></li>
    <li><a href="https://learn.microsoft.com/en-us/samples/microsoftgraph/msgraph-sample-angularspa/microsoft-graph-sample-angular-app/">Ejemplo funcional que integra Angular con datos de Office 365.</a></li>
    <li><a href="https://gmail.com/">Gmail (Google)</a></li>
  </ul>
  <hr>
  <hr>
  <table>
    <tr>
      <th>Productos</th>
      <th>Existencias</th>
      <th>Valor</th>
    </tr>
    <tr id="extremes-row">
      <td>Iphone</td>
      <td>10</td>
      <td>$ 2.000.000</td>
    </tr>
    <tr id="center-row">
      <td>Mouse</td>
      <td>100</td>
      <td>$ 50.000</td>
    </tr>
    <tr id="extremes-row">
      <td>PC GAmer</td>
      <td>2</td>
      <td>$ 3.000.000</td>
    </tr>
  </table>
  <hr>
  <hr>
  <h2>Taller 4: Practica de estilos en Angular --  PART 2</h2>
  <div>
    
  </div>
</body>
</html>
<router-outlet />
